<div class="intro">
  <h1>Contractor List</h1>
  <p>Below is the list of contractors currently in the database.</p>
  <hr>
</div>

<table class="table table-hover contractor-list">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">City</th>
    <th scope="col">Street</th>
    <th scope="col">State</th>
    <th scope="col">Zip</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contractor of contractors">
    <td scope="row"></td>
    <td>{{ contractor.name}}</td>
    <td>{{ contractor.city }}</td>
    <td>{{ contractor.street }}</td>
    <td>{{ contractor.state }}</td>
    <td>{{ contractor.zip }}</td>
    <td><button type="button" class="btn btn-warning">Edit</button></td>
    <td><button type="button" class="btn btn-danger" (click)="onDelete(1)">Delete</button></td>
  </tr>
  </tbody>
</table>
